// gesty.dev 🤙
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  @include flex-col;
  height: 100vh;
  background-image: url(../imgs/backgrounds/yosemiteBG.webp);
  //background-image: url(../imgs/backgrounds/sunkenCity.webp);
  background-attachment: fixed;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

main {
  @include flex-col;
}

header {
  @include flex-col;
  position: relative;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > img {
    border-radius: 60px;
  }
}

nav { 
  display: flex;
  padding-top: 1rem;
  z-index: 9000;

  & > ul {
    list-style: none;
    display: flex;
    border: solid 1px #000;
    border-radius: 4px;
    //transform: translateX(15%);

    & > li {
      border-left: solid 1px #000;
      border-right: solid 1px #000;

      &:hover {
        background-color: rgba(255,255,255, 0.5);
      }

      & > a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        width: 100%;
        height: 100%;
        padding: 5px 10px 10px 10px;

        &:focus {
          background-color: rgba(255,255,255, 0.5);
          outline: none;
        }
      }
    }
  }
}

article {
  position: absolute;
  display: block;
  //transform: translateY(10%);
  background-color: rgba(0,0,0, 0.5);
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
  width: 40rem;
}

.hidden {
  opacity: 0;
}

#back {
  text-decoration: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  color: #fff;
  padding: 5px;
  font-size: 1.5rem;

  &:focus {
    outline: thin dotted;
  }
}

.container {
  @include flex-col;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}
@media (min-width: 575px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
