// gesty.dev
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gochi Hand', cursive;
}

// Colors:
$text: #c0caf5;
$bg: #24283b;
$black: #1a1b26;
$red: #f7768e;
$blue: #7aa2f7;
$green: #9ece6a;
$orange: #ff9e64;
$teal: #73daca;
$yellow: #e0af68;
$magenta: #bb9af7;

// Mixins:
@mixin text-shadow-bg {
  text-shadow: 2px 2px 5px $bg;
}
@mixin infoBox {
  background: $bg;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 $blue;
  padding: 10px;
}

body {
  width: 100%;
  height: 100vh;
  /*height: 100%; for scrolling bg on firefox */
  background-image: url(/imgs/backgrounds/homeBg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.3rem;
  text-align: center;
}

// Individual Background Images:
.about {
  background-image:url(/imgs/backgrounds/aboutBg.png);
  height: 100%;
}
.contact {
background-image:url(/imgs/backgrounds/contactBg.png);
}
.portfolio {
  background-image:url(/imgs/backgrounds/portfolioBg.png);
  height: 100%;
}

// Scrollbar
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: $bg;
}
body::-webkit-scrollbar-thumb {
  background: $blue;
}

// Navbar
nav{
  box-shadow: 0 0 1rem 0 $blue;
}
.dropdown a:hover {
  background-color: $blue;
  color: $bg !important;
}

// Links
a {
  font-size: 1.5rem;
  color: $text;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  &:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
  }
}

// Headers:
h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 5px $black;
}
h2 {
  color: $red;
  font-size: 4rem;
  @include text-shadow-bg;
}
h3 {
  color: $blue;
  font-size: 2rem;
  @include text-shadow-bg;
}
.headerImg {
  box-shadow: 0 0 1rem 0 $bg;
}

// Contact Page:
.contactPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contactInfoBox {
  @include infoBox;
  & p {
    color: $text;
  }
}

// About Page:
.aboutBox {
  @include infoBox;
  margin-top: 10px;
}

// Paragraph Text:
p {
  color: $text;
  font-size: 1.5rem;
  padding: 2px;
  margin: 5px;
  text-shadow: 10px 10px 10px $bg;
  font-family: 'Source Sans Pro', sans-serif;
}
.smallText {
  font-size: 1rem;
}

section {
  font-size: 3.0rem;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  min-width: 90vw;
  z-index: -1;
}

// Animations:
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

// Photo Animations:
.logos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}

// Profile Images:
.profile {
  border-radius: 2rem;
  box-shadow: 2px 2px 5px $bg;
}

/* Small Screen Response */
@media (max-width: 576px) {
  body {
    background-position: center center;
    background-size: 100vh center;
  }
  .headerImg {
    width: 95vw;
  }
  .logos {
    flex-direction: column;
    gap: 0.5rem;
  }
  .aboutBox {
    width: 95vw;
  }
  .contactPageMain {
    display: flex;
    flex-direction: column;
  }
}
