* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gochi Hand", cursive;
}

body {
  width: 100%;
  height: 100vh;
  /*height: 100%; for scrolling bg on firefox */
  background-image: url(/imgs/backgrounds/homeBg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.3rem;
  text-align: center;
}

.about {
  background-image: url(/imgs/backgrounds/aboutBg.png);
  height: 100%;
}

.contact {
  background-image: url(/imgs/backgrounds/contactBg.png);
}

.portfolio {
  background-image: url(/imgs/backgrounds/portfolioBg.png);
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #24283b;
}

body::-webkit-scrollbar-thumb {
  background: #7aa2f7;
}

nav {
  box-shadow: 0 0 1rem 0 #7aa2f7;
}

.dropdown a:hover {
  background-color: #7aa2f7;
  color: #24283b !important;
}

a {
  font-size: 1.5rem;
  color: #c0caf5;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}
a:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
a.page {
  font-size: 4rem;
  color: #c0caf5;
  text-shadow: 2px 2px 5px #24283b;
  text-decoration: underline overline #24283b;
  font-family: "Gochi Hand", cursive;
}
a.page:hover {
  color: #9ece6a;
  text-shadow: 2px 2px 5px #24283b;
  text-decoration: underline overline #24283b;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 5px #1a1b26;
}

h2 {
  color: #f7768e;
  font-size: 4rem;
  text-shadow: 2px 2px 5px #24283b;
}

h3 {
  color: #7aa2f7;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #24283b;
}

.headerImg {
  box-shadow: 0 0 1rem 0 #24283b;
}

.contactPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactInfoBox {
  background: #24283b;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 #7aa2f7;
  padding: 10px;
}
.contactInfoBox p {
  color: #c0caf5;
}

.aboutBox {
  background: #24283b;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 #7aa2f7;
  padding: 10px;
  margin-top: 10px;
}

p {
  color: #c0caf5;
  font-size: 1.5rem;
  padding: 2px;
  margin: 5px;
  text-shadow: 10px 10px 10px #24283b;
  font-family: "Source Sans Pro", sans-serif;
}

.smallText {
  font-size: 1rem;
}

section {
  font-size: 3rem;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  min-width: 90vw;
  z-index: -1;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

.profile {
  border-radius: 2rem;
  box-shadow: 2px 2px 5px #24283b;
}

/* Small Screen Response */
@media (max-width: 576px) {
  body {
    background-position: center center;
    background-size: 100vh center;
  }
  .dropdown {
    transform: translateY(25%);
  }
  .logos {
    flex-direction: column;
    gap: 0.5rem;
  }
  .headerImg {
    width: 95vw;
  }
  .contactPageMain {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
