* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16pt;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../imgs/backgrounds/yosemiteBG.webp);
  background-attachment: fixed;
}

h1,
h2 {
  font-family: "Caveat", cursive;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero > img {
  border-radius: 60px;
}

nav {
  display: flex;
  padding-top: 1rem;
}
nav > ul {
  list-style: none;
  display: flex;
  border: solid 1px #000;
  border-radius: 4px;
}
nav > ul > li {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}
nav > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
nav > ul > li > a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 5px 10px 10px 10px;
}
nav > ul > li > a:focus {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

article {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;
  width: 40rem;
}

.hidden {
  opacity: 0;
  display: none;
  -moz-transform: translateY(1.5rem);
  -webkit-transform: translateY(1.5rem);
  -ms-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
  -moz-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition-delay: 1s;
}

/* This doesnt work for some reason... */
/* Only adds class temporarily I think... */
.active {
  opacity: 1;
  -moz-transform: translateY(1);
  -webkit-transform: translateY(1);
  -ms-transform: translateY(1);
  transform: translateY(0);
  -moz-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition-delay: 1s;
}

#back {
  text-decoration: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  color: #fff;
  padding: 5px;
  font-size: 1.5rem;
}
#back:focus {
  outline: thin dotted;
}

.scrollable {
  height: 80vh;
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
  width: 0.25rem;
  padding-right: 50px;
}
.scrollable::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.025);
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: end;
  align-items: end;
  gap: 1rem;
}

.social {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 30px;
  fill: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*# sourceMappingURL=style.css.map */
