* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* Colors */
  --text: #c0caf5;
  --bg: #24283b;
  --black: #1a1b26;

  --red: #f7768e;
  --blue: #7aa2f7;
  --green: #9ece6a;
  --orange: #ff9e64;
  --teal: #73daca;
  --yellow: #e0af68;
  --magenta: #bb9af7;
}

body {
  width: 100%;
  /*height: 100vh;*/
  height: 100%; /* for scrolling bg on firefox */
  background-image: url(./imgs/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica;
  font-size: 1.3rem;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
}

nav { /* navbar */
  width: 100%;
  position: fixed;
  background-color: var(--bg);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  z-index: 1;
  box-shadow: 0 0 1rem 0 var(--blue);
}

ul { /* link list */
  display: flex;
  list-style: none;
  gap: 1rem;
}

a { /* links */
  font-size: 1.5rem;
  color: var(--text);
  text-decoration: none;
}

a:hover { /* on link hover */
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

h1 { /* header tag */
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 5px var(--black);
}

/* Projects Popup Box */
.dropdown {
  position: absolute;
  width: 200px;
  opacity: 0;
  z-index: 2;
  background: var(--bg);
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  box-shadow: 0 0 1rem 0 var(--blue);
  transform: translateY(40%);

  transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/* Contact Box */

h2 {
  color: var(--red);
  font-size: 4rem;
  text-shadow: 3px 3px 5px var(--bg);
}

.contactBox {
  width: 300px;
  margin: 10px;
  gap: 7px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 var(--teal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}

.messageBox {
  width: 250px;
}

.sendButton {
  background: var(--blue);
  width: 50px;
  border-radius: 1rem;
  padding: 3px;
  border-style: none;
}

.sendButton:hover {
  background: var(--green);
  cursor: pointer;
}

/* Scrolling Sections */
h3 {
  color: var(--blue);
  font-size: 2rem;
  text-shadow: 3px 3px 5px var(--bg);
}

/* Paragraph Boxes
.paraBox {
  box-shadow: 0 0 5px 2px rbga(50, 50, 50, 0.25);
  background: var(--bg);
  backdrop-filter: blur(50px);
  border-radius: 2rem;
}
*/

p { /* text */
  color: white;
  font-size: 2rem;
  padding: 2px;
  margin: 5px;
  text-shadow: 10px 10px 10px var(--bg);
}

section {
  font-size: 3.0rem;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  min-width: 90vw;
  z-index: -1;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

.profile {
  border-radius: 2rem;
  box-shadow: 2px 2px 5px var(--bg);
}

a.page {
  font-size: 4rem;
  color: var(--text);
  text-shadow: 2px 2px 5px var(--bg);
  text-decoration: underline overline var(--bg);
}

a.page:hover {
  color: var(--green);
  text-shadow: 2px 2px 5px var(--bg);
  text-decoration: underline overline var(--bg);
  cursor: pointer;
}

/* Small Screen Response */
@media (max-width: 600px) {
  body {
    background-position: center center;
    background-size: auto 100%;
  }

  nav {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    bottom: 0;
  }

  ul {
    flex-direction: column;
    order: 1;
    font-size: 1rem;
    gap: 0.5rem;
  }

  .logos {
    flex-direction: column;
    gap: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

/* CSS Stylesheet - Gesty Linaga */
