* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* Colors */
  --text: #c0caf5;
  --bg: #24283b;

  --red: #f7768e;
  --blue: #7aa2f7;
  --green: #9ece6a;
  --orange: #ff9e64;
  --teal: #73daca;
  --yellow: #e0af68;
  --magenta: #bb9af7;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(./imgs/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica;
  font-size: 1.3rem;
  text-align: center;
}

nav { /* navbar */
  background-color: var(--bg);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

ul { /* link list */
  display: flex;
  list-style: none;
  gap: 1rem;
}

a { /* links */
  color: var(--text);
  text-decoration: none;
}

a:hover { /* on link hover */
  text-decoration: underline;
  color: white;
}

h1 { /* header tag */
  color: white;
}

/*       */

h2 {
  color: var(--magenta);
}

.contactButton {
  font-size: 1.3rem;
  background: var(--bg);
  color: var(--text);
  border: none;
}

.contactButton:hover {
  background: var(--magenta);
  color: var(--bg);
}

.contactBoxPopup {
  display: none;
}

.contactBox {
  width: 300px;
  margin: 10px;
  gap: 7px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 var(--blue);
  position: absolute;
  padding: 5px;
}

.messageBox {
  width: 250px;
}

.sendButton {
  background: var(--blue);
  width: 50px;
  border-radius: 1rem;
  padding: 3px;
  border-style: none;
}

.sendButton:hover {
  background: var(--green);
}

.closeButton {
  background: var(--red);
  border-radius: 1rem;
  padding: 3px;
  border-style: none;
}

.closeButton:hover {
  background: var(--orange);
}

/*       */

/* navbar response */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  ul {
    flex-direction: column;
    order: 1;
    font-size: 1rem;
    gap: 0.5rem;
  }
}

/* stylesheet - Gesty Linaga */
